img {
  margin-top: 15px;
}

h1,
h2 {
  text-align: center;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e2e8f0;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: sans-serif;
}

.realEstatePrice,
.realEstateDescription,
.realEstateSize {
  margin-bottom: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.soldout {
  display: block;
  align-self: flex-start;
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
