h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e2e8f0;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: sans-serif;
}

.realEstatePrice,
.realEstateDescription,
.realEstateSize {
  margin-bottom: 4px;
}
